#root{
  background-color: #636363;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  background: rgb(58, 26, 13);
  margin: 20px;
  width: 190px;
  height: 190px;
  border: 2px solid #000000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0 0 0 3px;
}

.box{
  border: 1px solid white;
  background: rgb(80, 62, 36);
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.status{
  color: white;
  border-radius: 10px;
  border: 1px solid #000000;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background: #00000085;
}

.game-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: max-content;
  width: 250px;
  background: #00000085;
  border: 1px solid #000000;
  border-radius: 10px;
  display: none;
  align-items: center;
  justify-content: center;
}

.info-dis{
  display: flex;
}

.ol{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;
}

.list{
  list-style: none;
  width: max-content;
}

.list-btn{
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(-20px);
  margin: auto;
}

.list-btn:hover{
  color: white;
  background-color: rgb(58, 26, 13);
  box-shadow: 0 0 2px 2px #000;
}

#history{
margin: 10px;
margin-bottom: 30px;
transform: translateX(40px);
}
.win-box{
  color: blue;
  border: 2px solid blue;
}